asgiref==3.3.4
astroid==2.5.6
bokeh==2.3.2
colorama==0.4.4
Django==3.2.14
isort==5.8.0
Jinja2==3.0.0
lazy-object-proxy==1.6.0
MarkupSafe==2.0.0
mccabe==0.6.1
numpy==1.20.3
packaging==20.9
Pillow==8.2.0
pylint==2.8.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
six==1.16.0
sqlparse==0.4.1
toml==0.10.2
tornado==6.1
typing-extensions==3.10.0.0
wrapt==1.12.1
